body{
    background-color: darkgrey;
}
.navbar{
    position: sticky;
    top: 0px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: deepskyblue;
    z-index: 1;
}

.navbar-center{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.nav-icon{
    font-size: 1.5rem;
}

.cart-btn{
    position: relative;
    cursor: pointer;
}

.cart-items{
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: fuchsia;
    padding: 0 5px;
    border-radius: 30%;
    color: black;
}


.main{
    min-height: calc(100vh - 100px);
    background: url("./images/BlackSnowBoots.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner{
    text-align: center;
    background-color: white;
    display: inline-block;
    padding: 2rem;
}

.banner-title{
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
}

.banner-btn{
    position: sticky;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    background-color: fuchsia;
    color: black;
    border: 1px solid black;
    transition: 0.3s linear;
    cursor: pointer; 
    
}

.banner-btn:hover{
    background: transparent;
    color: black;
}

.banner-btn:hover:visited{
    background-color: chartreuse;
    color: black;  
}

.banner-btn:active{
    background-color: yellow;
    color: black;
}


.products{
    padding: 4rem 0;
}

.section-title h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.products-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem; 
    grid-row-gap: 2rem;
}

.img-container{
    position: relative;
    overflow: hidden;
}

.bag-btn{
    position: absolute;
    top: 70%;
    right: 0;
    background-color: blueviolet;
    border: black;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: 0.3s linear;
    transform: translateX(101%);
    cursor: pointer;
}

.bag-btn:hover{
    background: blue;
    color: black;
}

.bag-btn:hover:visited{
    background-color: chartreuse;
    color: black;  
}

.bag-btn:active{
    background-color: yellow;
    color: black;
}

.fa-shopping-cart{
    margin-right: 0.5rem;
}

.img-container:hover .bag-btn{
    transform: translateX(0);
}

.product-img{
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: 0.3s linear;
}

.img-container:hover .product-img{
    opacity: 0.5;
}

.product h3{
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: 0.1rem; 
    text-align: center;
}

.product h4{
    margin-top: 0.7rem;
    letter-spacing: 0.1rem;
    color: black;
    text-align: center;
}


.cart-overlay{
    position: fixed;
    top: 0;
    right: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    transition: 0.3s linear;
    background: tomato;
    z-index: 2;
    visibility: hidden;
}

.cart{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: white;
    z-index: 3;
    padding: 1.5rem;
    transition: 0.3s linear;
    transform: translateX(100%);
}

.showCart{
    transform: translateX(0);
}

.transparentBcg{
    visibility: visible;
}

@media screen and (min-width: 768px){
    .cart{
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart{
    font-size: 1.7rem;
    cursor: pointer;
}

.cart h2{
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

.cart-item{
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem 0;
    margin: 1.5rem 0;
}

.cart-item img{
    width: 75px;
    height: 75px;
}

.cart-item h4{
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.cart-item h5{
    margin: 0.5rem 0;
    letter-spacing: 0.1rem;
}

.item-amount{
    text-align: center;
}

.remove-item{
    color: gray;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down{
    color: black;
    cursor: pointer;
}

.cart-footer{
    margin-top: 2rem;
    margin-bottom: 5rem;
    letter-spacing: 0.1rem;
    text-align: center;
    position: sticky;
}

.cart-footer h3{
    text-transform: capitalize;
    margin-bottom: 1rem;
}



/*validate email*/

li {
list-style-type: none;
font-size: 16pt;
}
.mail {
margin: auto;
padding-top: 10px;
padding-bottom: 10px;
width: 800px;
background : #D8F1F8;
border: 1px soild silver;
}
.mail h2 {
margin-left: 38px;
}
input {
font-size: 20pt;
}
.Text{
    width: 600px;
}
input:focus, textarea:focus{
background-color: lightyellow;

}
input submit {
font-size: 12pt;
}
.rq {
color: #FF0000;
font-size: 10pt;
}



